/* ******************   TABLE OF CONTENTS   ****************** */
/* *********************************************************** *\

xi. RESET
xii. TOOLS
xiii. VARIABLES

1. SETUP
2. HEADER
3. ...
X. FOOTER
Y. OVERRIDES
Z. MEDIA QUERIES

/* xi. **************         RESET         ****************** */
/* *********************************************************** */

/* v2.0 | 20110126 - MEYER RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

*, :after, :before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}
html {height:100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}
body {height: 100%; line-height: 1; margin: 0 !important;}
ol, ul {list-style: none; margin-block-start: 0; margin-block-end: 0; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 0;}
table {border-collapse: collapse; border-spacing: 0;}
table, tr, td {padding: 0;}
img {display: block; border: 0; border-style: none;}
a, a:hover, a:focus, a:active, a[href^="tel"] {background-color: transparent; color: inherit; text-decoration: none; outline: 0;}

/* xii. *************         TOOLS         ****************** */
/* *********************************************************** */

/* @font-face {font-family: myFont; src: url("../font/big_noodle_titling.ttf");} */
.crete {font-family: 'Crete Round', serif;}
.open {font-family: 'Open Sans', sans-serif;}

.clearfix::after{content: ""; display: block; clear: both;}

.flex-full {display: flex; justify-content: center; align-items: center;}
.flex-row {flex-direction: row;}
.flex-col {flex-direction: column;}

.dark-txt {color: #000000}
.dark-bg {background-color: #000000}
.grey-txt {color: #353435}
.grey-bg {background-color: #353435}
.lite-grey-txt {color: #CCCCCC}
.lite-grey-bg {background-color: #CCCCCC}
.lite-txt {color: #ffffff}
.lite-bg {background-color: #ffffff}

.main-rgb-txt {color: #00a1e4}
.main-rgb-bg {background-color: #00a1e4}
.dark-rgb-txt {color: #0092d3}
.dark-rgb-bg {background-color: #0092d3}
.lite-rgb-txt {color: #0092d3}
.lite-rgb-bg {background-color: #0092d3}

.font-h {font-family: 'Montserrat', sans-serif;}
.font-p {font-family: 'Montserrat', sans-serif;}

h1,h2,h3,h4 {font-family: 'Roboto', serif; margin:0; padding:0;}

h1{font-size:26px;}
h2{font-size:36px;}
h3{font-size:24px;}
h4{font-size:18px;}

.fs1{font-size: 12px;}
.fs2{font-size: 18px;}
.fs3{font-size: 24px;}
.fs4{font-size: 32px;}
.fs5{font-size: 40px;}

.uppercase {text-transform: uppercase}
.fw-300 {font-weight: 300}
.fw-400 {font-weight: 400}
.fw-500 {font-weight: 500}
.fw-600 {font-weight: 600}
.fw-700 {font-weight: 700}
.fw-800 {font-weight: 800}
.fw-900 {font-weight: 900}

.font-p {letter-spacing: .5px; line-height: 26px; font-size: 16px; font-family: 'Montserrat', sans-serif;}

/* xii. *************         VARS          ****************** */
/* *********************************************************** */

:root {
    --color-example: #ffffff;
    --color-black: #161b20;
    --color-purple: #99A3E8;
    --color-skyblue: #76BDDB;
    --color-red: #F74356;
    --color-blue: #64C2EC;
}

.to-use-variables {
    color: var(--color-example);
}

/* 1. ***************         SETUP         ****************** */
/* *********************************************************** */

body {background-color: #fff; font-size: 12px; color: rgb(24, 24, 24); font-family: 'Open Sans', Arial, sans-serif;}

#wrapper {
    width: 100%;
}

/* 2. **************         HEADER         ****************** */
/* *********************************************************** */

.header-class {
    position: fixed;
    max-width: 100%;
    width: 100%;
    height: 120px;
    background: -moz-linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0.5) 88%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 30%,rgba(255,255,255,0.8) 60%,rgba(255,255,255,0.5) 88%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 30%,rgba(255,255,255,0.8) 60%,rgba(255,255,255,0.5) 88%,rgba(255,255,255,0) 100%);   
    top: 0;
    left: 0;
    padding: 0 120px;
    z-index: 9998;
    transition: all 0.7s cubic-bezier(.50, 0, .50, 1); 
    -webkit-transition: all 0.7s cubic-bezier(.50, 0, .50, 1); 
    -moz-transition: all 0.7s cubic-bezier(.50, 0, .50, 1); 
}

.header-inner {
    max-width: 1050px;
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    padding: 10px 10px 10px 0px;
    cursor: pointer;
    border-radius: 50%;
}

.header-logo img {
    border-radius: 50%;
}

.header-list {

}

.header-list li {
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    letter-spacing: 1px;
    /* background-color: rgba(255,255,255,.5); */
    text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff,
    0px 2px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    1px 2px 0 #fff,
    -1px 2px 0 #fff,
    1px -2px 0 #fff,
    -1px -2px 0 #fff,
    2px 1px 0 #fff,
    -2px 1px 0 #fff,
    2px -1px 0 #fff,
    -2px -1px 0 #fff;
}

.header-list li:last-of-type {
    padding: 10px 0 10px 20px;
}

.header-list-line, .header-list-line-last {
    width: 6px; 
    height: 6px;
    background-color: var(--color-blue); 
    position: absolute; 
    top: 32px; 
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    border-radius: 50%;
    transition: .5s;
    z-index: 9999;
}

.header-list-line-last {
    left: 66%;
}


/* 3. **************         HERO         ****************** */
/* ********************************************************* */

.hero-wrapper {
    height: 200vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
    overflow-x: hidden;
}

.hero-top {
    height: 100vh;
    max-width: 1050px;
    width: 100%;
}

.hero-name {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    transform: translate(0, -30%);
}

.hero-hello {
    align-items: flex-start;
}

.hero-webdev {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    text-align: right;
    letter-spacing: 1px;
}

.hero-hey-im {
    font-size: 20px;
    padding: 0 0 5px 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero-gavin-baxter {
    line-height: 70px;
    font-size: 85px;
    color: var(--color-black);
}

/* ~~~~~~~~~~~~~~~~~~ BOT ~~~~~~~~~~~~~~~~~~ */

.hero-bot {
    height: 100vh;
    max-width: 1050px;
    width: 100%;
}

.hero-profile {
    width: 100%;
    justify-content: space-between;
}

.hero-profile-picture {
    width: 400px;
    align-items: flex-start;
}

.hero-profile-picture img {
    width: 300px;
    border-radius: 50%;
}

.hero-profile-text {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    width: calc(100% - 400px);
}

/* X. **************         PORTFOLIO         ****************** */
/* ************************************************************** */

.portfolio-wrapper {
    width: 100%;
    background-color: #f5f7f9;
    padding: 80px 120px 100px;
}

.portfolio {
    max-width: 1050px;
    width: 100%;
    align-items: flex-start;
}

.porfolio-tagline {
    font-size: 46px;
    padding-bottom: 80px;
}

.porfolio-card-holder {
    width: 100%;
    align-items: flex-start;
}

.portfolio-card {
    width: 50%;
    cursor: pointer;
}

.card-top {
    position: relative;
    width: 100%;
    height: 240px;
    background: lightcoral;
    border-radius: 4px 4px 0 0;
}

.card-top-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.2;
    border-radius: 4px 4px 0 0;
    z-index: 1002;
    transition: .4s;
}

.card-top img {
    opacity: 0.8;
    z-index: 1003;
    transition: .4s;
}

.card-bot {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 30px 30px;
    align-items: flex-start;
}

.card-shadow {
    box-shadow: 0 0 6px 0 rgba(30,45,62,.09);
    transition: .4s;
}

.card-bot-tagline {
    font-size: 14px;
    font-weight: 700;
    color: rgb(179, 179, 179);
    letter-spacing: .5px;
    padding-bottom: 30px;
}

.card-bot-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-black);
    letter-spacing: .5px;
    padding-bottom: 12px;
}

.card-bot-description {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--color-black);
}

.card-pad-1 {
    margin: 0 20px 20px 0;
}

.card-pad-2 {
    margin: 0 0 20px 20px;
}

.card-pad-3 {
    margin: 20px 20px 0 0;
}

.card-pad-4 {
    margin: 20px 0 0 20px;
}

.card-top-image-1, .card-top-image-2, .card-top-image-3, .card-top-image-4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-top-image-1 {
    background-image: url("../images/card_egia.jpg");
}

.card-top-image-2 {
    background-image: url("../images/card_bb.jpg");
}

.card-top-image-3 {
    background-image: url("../images/card_ucd.jpg");
}

.card-top-image-4 {
    background-image: url("../images/card_personal.jpg");
}


/* X. **************         MISSION         ****************** */
/* ************************************************************** */


.mission-wrapper {
    width: 100%;
    padding: 80px 120px 100px;
}

.mission {
    max-width: 1050px;
    width: 100%;
    align-items: flex-start;
}

.mission-tagline {
    font-size: 46px;
    padding-bottom: 80px;
}

.mission-text {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    padding-bottom: 80px;
}

.mission-f-wrapper1 {
    width: 100%;
}

.mission-f-outer2 {
    flex: 1;
}

.mission-f-inner2 {
    flex: 1;
}

.mission-f-image {
    flex: 1;
    height: 100px;
}

.mission-image-tag {
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 14px;
}


/* X. **************         CIRCLES         ****************** */
/* ************************************************************** */


#top-container {
    width: 100%;
    height: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    z-index: -1;
}

#mid-container {
    width: 100%;
    height: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40%;
    z-index: -1;
}

#bot-container {
    width: 100%;
    height: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 80%;
    z-index: -1;
}

#lower-container {
    width: 100%;
    height: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 120%;
    z-index: -1;
}

.circle {
    position: absolute;
    display: inline;
    border-radius: 50%;
    opacity: 0;
}

.circle-small {
    transition: 1.6s linear;
    background-color: rgba(247, 67, 86, 0.5);
}

.circle-mid {
    transition: 1.8s linear;
    background-color: rgba(247, 67, 86, 0.52);
}

.circle-big {
    transition: 2s linear;
    background-color: rgba(53, 172, 228, 0.42);
}

.circle-xl {
    transition: 2s linear;
    background-color: rgba(53, 172, 228, 0.48);
}


/* X. **************         FOOTER         ****************** */
/* *********************************************************** */

footer {width: 100%;}

/* Y. ***************       OVERRIDES       ****************** */
/* *********************************************************** */

.hider {display: none !important;}

/* Z. ***************     MEDIA QUERIES     ****************** */
/* *********************************************************** */

@media (pointer: fine) {
    /* HOVER EFFECTS */

    .header-list li:hover .header-list-line {
        top: 28px;
        opacity: 1;
    }

    .header-list li:hover .header-list-line-last {
        top: 28px;
        opacity: 1;
    }

    .portfolio-card:hover .card-shadow {
        box-shadow: 0 0 12px 0 rgba(30,45,62,.18);
    }

    .portfolio-card:hover .card-top-overlay {
        opacity: 0;
    }

    .portfolio-card:hover .card-top img {
        opacity: 1;
    }


}

@media only screen and (max-width: 1290px) { 

}

@media only screen and (max-width: 1220px) { 
    /* WRAPPER BREAK (1220) */
}

@media only screen and (max-width: 1050px) { 
    /* BIG FIXES */
}

@media only screen and (max-width: 992px) { 
    /* M QUERIES (992) */
}

@media only screen and (max-width: 768px) { 
    /* S QUERIES (768) */
}

@media only screen and (max-width: 576px) { 
    /* XS QUERIES (567) */
}

@media only screen and (max-width: 360px) { 
    /* SMALL FIXES */
}





