/* ******************   TABLE OF CONTENTS   ****************** */
/* *********************************************************** *\

xi. RESET
xii. TOOLS
xiii. VARIABLES

1. SETUP
2. HEADER
3. ...
X. FOOTER
Y. OVERRIDES
Z. MEDIA QUERIES

/* xi. **************         RESET         ****************** */
/* *********************************************************** */

/* v2.0 | 20110126 - MEYER RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

*, :after, :before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}
html {height:100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}
body {height: 100%; line-height: 1; margin: 0 !important; overflow: auto !important;}
ol, ul {list-style: none; margin-block-start: 0; margin-block-end: 0; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 0;}
table {border-collapse: collapse; border-spacing: 0;}
table, tr, td {padding: 0;}
img {display: block; border: 0; border-style: none;}
a, a:hover, a:focus, a:active, a[href^="tel"] {background-color: transparent; color: inherit; text-decoration: none; outline: 0;}

/* xii. *************         TOOLS         ****************** */
/* *********************************************************** */

/* @font-face {font-family: myFont; src: url("../font/big_noodle_titling.ttf");} */
.crete {font-family: 'Crete Round', serif;}
.open {font-family: 'Open Sans', sans-serif;}

.clearfix::after{content: ""; display: block; clear: both;}

.flex-full {display: flex; justify-content: center; align-items: center;}
.flex-row {flex-direction: row;}
.flex-col {flex-direction: column;}

/* .dark-txt {color: #000000}
.dark-bg {background-color: #000000}
.grey-txt {color: #353435}
.grey-bg {background-color: #353435}
.lite-grey-txt {color: #CCCCCC}
.lite-grey-bg {background-color: #CCCCCC}
.lite-txt {color: #ffffff}
.lite-bg {background-color: #ffffff} */

/* .main-rgb-txt {color: #00a1e4}
.main-rgb-bg {background-color: #00a1e4}
.dark-rgb-txt {color: #0092d3}
.dark-rgb-bg {background-color: #0092d3}
.lite-rgb-txt {color: #0092d3}
.lite-rgb-bg {background-color: #0092d3} */

/* .font-h {font-family: 'Montserrat', sans-serif;}
.font-p {font-family: 'Montserrat', sans-serif;} */

/* h1,h2,h3,h4 {font-family: 'Roboto', serif; margin:0; padding:0;} */

/* h1{font-size:26px;}
h2{font-size:36px;}
h3{font-size:24px;}
h4{font-size:18px;}

.fs1{font-size: 12px;}
.fs2{font-size: 18px;}
.fs3{font-size: 24px;}
.fs4{font-size: 32px;}
.fs5{font-size: 40px;} */

/* .uppercase {text-transform: uppercase}
.fw-300 {font-weight: 300}
.fw-400 {font-weight: 400}
.fw-500 {font-weight: 500}
.fw-600 {font-weight: 600}
.fw-700 {font-weight: 700}
.fw-800 {font-weight: 800}
.fw-900 {font-weight: 900} */

/* .font-p {letter-spacing: .5px; line-height: 26px; font-size: 16px; font-family: 'Montserrat', sans-serif;} */

/* xii. *************         VARS          ****************** */
/* *********************************************************** */

:root {
    --color-skyblue: #76BDDB;
    --color-example: #ffffff;
    --color-black: #161b20;
    --color-red: #F74356;
    --color-purple: #99A3E8;
    --color-blue: #64C2EC;
}

.to-use-variables {
    color: var(--color-example);
}

/* 1. ***************         SETUP         ****************** */
/* *********************************************************** */

body {
    background-color: #fff;
    font-size: 12px;
    color: rgb(24, 24, 24);
    font-family: 'Open Sans', Arial, sans-serif;
}

#wrapper {
    width: 100%;
}

/* 2. **************         HEADER         ****************** */
/* *********************************************************** */

.header-class {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    padding: 0 120px;
    z-index: 9998;
}

.header-inner {
    max-width: 1050px;
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    padding: 10px 10px 10px 0px;
    border-radius: 50%;
}

.header-logo img {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
}

.header-list {

}

.header-list li {
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff,
    0px 2px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    1px 2px 0 #fff,
    -1px 2px 0 #fff,
    1px -2px 0 #fff,
    -1px -2px 0 #fff,
    2px 1px 0 #fff,
    -2px 1px 0 #fff,
    2px -1px 0 #fff,
    -2px -1px 0 #fff;
}

.header-list li:last-of-type {
    padding: 10px 0 10px 20px;
}

.header-list-line, .header-list-line-last {
    width: 6px; 
    height: 6px;
    background-color: rgb(0, 176, 155); 
    position: absolute; 
    top: 32px; 
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    border-radius: 50%;
    transition: .5s;
    z-index: 9999;
}

.header-list-line-last {
    left: 63%;
}


/* 3. **************         HERO         ****************** */
/* ********************************************************* */

.hero-wrapper {
    height: 200vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
    overflow-x: hidden;
}

.hero-top {
    height: 100vh;
    max-width: 1050px;
    width: 100%;
}

.hero-name {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    transform: translate(0, -30%);
}

.hero-hello {
    align-items: flex-start;
}

.hero-webdev {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    text-align: right;
    letter-spacing: 1px;
}

.hero-hey-im {
    font-size: 20px;
    padding: 0 0 5px 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero-gavin-baxter {
    line-height: 70px;
    font-size: 85px;
    color: var(--color-black);
}

.gb-desktop {
    display: inline;
}

.gb-mobile {
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~ BOTTOM ~~~~~~~~~~~~~~~~~~ */

.hero-bot {
    height: 100vh;
    max-width: 1050px;
    width: 100%;
}

.hero-profile {
    width: 100%;
    justify-content: space-between;
}

.hero-profile-picture {
    width: 380px;
    align-items: flex-start;
}

.hero-profile-picture img {
    width: 290px;
    border-radius: 50%;
}

.hero-profile-text {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    width: calc(100% - 380px);
}

/* 4. **************         PORTFOLIO         ****************** */
/* ************************************************************** */

.portfolio-wrapper {
    width: 100%;
    background-color: #f5f7f9;
    padding: 150px 120px 160px;
}

.portfolio {
    max-width: 1050px;
    width: 100%;
    align-items: flex-start;
}

.portfolio-tagline {
    font-size: 46px;
    padding-bottom: 80px;
}

.portfolio-card-holder {
    width: 100%;
    align-items: flex-start;
}

.portfolio-card-holder a {
    max-width: 50%;
    min-width: 50%;
}

.card-top {
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 4px 4px 0 0;
}

.card-top-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.2;
    border-radius: 4px 4px 0 0;
    z-index: 1002;
    transition: .4s;
}

.card-top img {
    opacity: 0.8;
    z-index: 1003;
    transition: .4s;
}

.card-bot {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 30px 30px;
    align-items: flex-start;
}

.card-shadow {
    box-shadow: 0 0 6px 0 rgba(30,45,62,.09);
    transition: .4s;
}

.card-bot-tagline {
    font-size: 14px;
    font-weight: 700;
    color: rgb(179, 179, 179);
    letter-spacing: .5px;
    padding-bottom: 30px;
}

.card-bot-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-black);
    letter-spacing: .5px;
    padding-bottom: 12px;
}

.card-bot-description {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--color-black);
}

.card-pad-1 {
    margin: 0 20px 20px 0;
}

.card-pad-2 {
    margin: 0 0 20px 20px;
}

.card-pad-3 {
    margin: 20px 20px 0 0;
}

.card-pad-4 {
    margin: 20px 0 0 20px;
}

.card-top-image-1, .card-top-image-2, .card-top-image-3, .card-top-image-4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-top-image-1 {
    background-image: url("../images/card_egia.jpg");
}

.card-top-image-2 {
    background-image: url("../images/card_bb.jpg");
}

.card-top-image-3 {
    background-image: url("../images/card_ucd.jpg");
}

.card-top-image-4 {
    background-image: url("../images/card_personal.jpg");
}


/* 5. **************         SERVICES         ******************* */
/* ************************************************************** */


.services-wrapper {
    width: 100%;
    padding: 150px 120px 160px
}

.services {
    max-width: 1050px;
    width: 100%;
    align-items: flex-start;
}

.services-tagline {
    font-size: 46px;
    padding-bottom: 70px;
}

.services-text-bottom, .services-text {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    padding-bottom: 70px;
}

.services-text {
    padding-bottom: 30px;
}

.services-f-wrapper1 {
    width: 100%;
}

.services-f-outer2, .services-f-inner2 {
    flex: 1;
}

.services-f-image {
    flex: 1;
    height: 100px;
}

.services-image-tag {
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 14px;
}


/* 6. **************         CANVAS         ******************** */
/* ************************************************************** */


canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/* 7. **************         FOOTER         ****************** */
/* *********************************************************** */

.footer-class {
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
}

.footer-connect {
    width: 100%;
    height: calc(100vh - 124px);
    opacity: .9;
    background-image: linear-gradient(-133deg,#00b09b, #32b87c, #96c93d);
    background-image: -moz-linear-gradient(-133deg,#00b09b, #32b87c, #96c93d);
    background-image: -webkit-linear-gradient(-133deg,#00b09b, #32b87c, #96c93d);
}

.footer-icons {
    width: 100%;
    padding: 20px 0;
    background-color: #262d28;
    text-align: center;
}

.footer-bottom {
    width: 100%;
    font-size: 14px;
    background-color: #1a1e1a;
    color: #656b66;
    padding: 20px 0;
    text-align: center;
}

.footer-icon-container {
    width: 30px;
    height: 30px;
    margin: 0 15px;
}

.footer-contact-icon {
    cursor: pointer;
    opacity: .3;
    transition: .3s;
}

.footer-connect-tagline {
    font-size: 60px;
    color: #fff;
}

.footer-connect-text {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    max-width: 500px;
    width: 100%;
    margin: 30px 0;
}

.footer-connect-email {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.fa-at {
    padding: 0 1px;
}

/* Y. ***************       OVERRIDES       ****************** */
/* *********************************************************** */

.hider {display: none !important;}

/* Z. ***************     MEDIA QUERIES     ****************** */
/* *********************************************************** */

@media (pointer: fine) {
    /* HOVER EFFECTS */

    .header-list li:hover .header-list-line {
        top: 28px;
        opacity: 0.8;
    }

    .header-list li:hover .header-list-line-last {
        top: 28px;
        opacity: 0.8;
    }

    .portfolio-card:hover .card-shadow {
        box-shadow: 0 0 12px 0 rgba(30,45,62,.18);
    }

    .portfolio-card:hover .card-top-overlay {
        opacity: 0;
    }

    .portfolio-card:hover .card-top img {
        opacity: 1;
    }

    .footer-contact-icon:hover {
        opacity: .6;
    }
}

/* @media only screen and (max-width: 1290px) { 

}

@media only screen and (max-width: 1220px) { 

}

@media only screen and (max-width: 1050px) { 

} */

@media only screen and (max-width: 992px) { 
    /* M QUERIES */

    .header-class, .hero-wrapper {
        padding: 0 60px;
    }

    .hero-profile {
        flex-direction: column;
    }

    .hero-name {
        align-items: center;
        transform: translate(0, -10%);;
        flex-direction: column;
    }

    .hero-hello {
        align-items: center;
    }

    .hero-hey-im {
        padding: 0 0 10px;
    }

    .hero-gavin-baxter {
        text-align: center;
    }

    .hero-webdev {
        padding-top: 15px;
        text-align: center;
    }

    .hero-profile-picture {
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }

    .hero-profile-picture img {
        width: 250px;
    }

    .hero-profile-text {
        width: 80%;
        text-align: center;
    }

    .portfolio-wrapper {
        padding: 90px 60px 100px;
    }

    .portfolio-tagline {
        padding-bottom: 45px;
    }


    .services-wrapper {
        padding: 90px 60px 100px;
    }
    
    .services-tagline {
        padding-bottom: 45px;
    }

    .services-f-wrapper1 {
        flex-direction: column;
    }

    .services-f-outer2 {
        width: 100%;
    }

    .services-f-outer2:first-of-type {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) { 
    /* iPAD QUERIES (768) */

    .card-top-overlay {
        opacity: 0;
    }

    .card-top img {
        opacity: 1;
    }
    
    .portfolio-card-holder {
        align-items: center;
        flex-direction: column;
    }

    .portfolio-card-holder a {
        max-width: 100%;
        min-width: 100%;
    }

    .card-pad-1, .card-pad-2, .card-pad-3{
        margin: 0 0 45px 0;
    }

    .card-pad-4 {
        margin: 0;
    }
}

@media only screen and (max-width: 500px) { 
    /* PHONE QUERIES */

    .header-class {
        height: 100px;
    }

    .header-class, .hero-wrapper {
        padding: 0 30px;
    }

    .hero-profile-picture img {
        width: 230px;
    }

    .hero-profile-text {
        width: 100%;
        font-size: 18px;
        line-height: 30px;
    }

    .hero-gavin-baxter {
        line-height: 54px;
        font-size: 68px;
    }

    .gb-desktop {
        display: none;
    }

    .gb-mobile {
        display: inline;
    }

    .portfolio-wrapper, .services-wrapper {
        padding: 60px 30px 70px;
    }

    .portfolio-tagline, .services-tagline {
        padding-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .card-top {
        height: 175px;
    }

    .card-bot-title {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .card-bot-tagline {
        font-size: 12px;
        padding-bottom: 20px;
    }

    .card-bot-description {
        font-size: 16px;
        line-height: 24px;
    }

    .card-pad-1, .card-pad-2, .card-pad-3{
        margin: 0 0 30px 0;
    }

    .services-text, .services-text-bottom {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 30px;
        text-align: center;
    }

    .services-f-inner2 {
        width: 80%;
        margin-bottom: 15px;
    }

    .services-f-inner2:last-of-type {
        margin-bottom: 0;
    }

    .services-f-outer2 {
        flex-direction: column;
    }

    .services-f-outer2:first-of-type {
        margin-bottom: 0;
    }

    .footer-connect {
        padding: 0 30px;
    }

    .footer-connect-tagline {
        font-size: 46px;
        text-align: center;
    }

    .header-list {
        display: none;
    }

    .footer-connect {
        height: calc(100vh - 114px);
    }

    .footer-icons {
        padding: 15px 0;
    }
}

/* @media only screen and (max-width: 360px) { 

} */





